body {
  padding-top: 56px;
}

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo{
  font-family: "Pacifico";
  font-size: 24px;
  color: coral;
}

.btn{
  font-family: "Pacifico";
  color: #353a3f;
  background-color: coral;
  margin-left: 10px;
}

.d-block{
  width: 1200px;
  height: 480px;
}

.portfolio-item {
  margin-bottom: 30px;
}

.logoa{
  height: 50px;
  width: 100px;
}
.buy{
  background-color: rgb(110, 183, 207);
  color: black;
}
.card{
  display: inline-block;
  margin: 5px;
  font-size: 19px;
}