@media only screen and (max-width: 767px) {
    .carousel-item{
        height: 300px;
    }
    .d-block{
        height: 300px !important;
    }
    .pagination{
        max-width: 540px;
    }
}

@media only screen and (max-width: 575px) {
    .card-img-top {
        min-height: 280px;
    }
    .card {
        max-width: 350px;
    }
    #settings {
        max-width: 350px;
    }
    .pagination{
        max-width: 340px;
    }
}

@media only screen and (max-width: 473px) {
    .carousel-item{
        height: 200px;
    }
    .d-block{
        height: 200px !important;
    }
}

*{
    font-family: 'Roboto';
    font-weight: bold;
}

.hidden {
    display: none;
}
/* BODY */
body{
    margin-top: 90px;
    background: linear-gradient(to left, #34e89e,#0f3443);
}
/* FOOTER */
.py-5 {
    background-color: #181820;
    padding: 25px !important;
}
/* NAVBAR */
.navbar{
    background-color: #181820;
}

.nav-link{
    font-size: 23px;
}

.nav-link:hover{
    background-color: #fc5c2b;
    border-radius: 5px;
    cursor: pointer;
}
/* CAROSUEL */
.carousel-item {
    background: no-repeat center center scroll;
    background-size: cover;
}

.d-block {
    width: 1200px;
    height: 480px;
}
/* MAIN PAGE */
#main_page {
    padding-left: 0;
    padding-right: 0;
}

/* LOGOS */
.logos {
    height: 34px;
    width: 66px;
    margin-left: 10px;
}
/* MODAL */
.modal-title {
    margin: auto;
    color: white;
}

.modal-content {
    border-radius: 15px;
}

.modal-header {
    font-size: 40px;
    text-align: center;
    background-color: #fc5c2b;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.specs {
    margin: auto;
}
/* CARD */
.card-title {
    font-size: 18px;
}

.card-title-div {
    height: 70px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.price-btn {
    color: white;
    font-size: 25px;
}

/* KLASI NA KOPCINJA */
.btn{
    color: white;
}

.orange {
    background-color: #fc5c2b;
    color: white;
    font-weight: bold;
}

.telekomMK {
    background-color: #e30074;
}

.amcMK {
    background-color: #34466a;
}

.neptunMK {
    background-color: #003d76;
}

.setecMK {
    background-color: #283982;
}

.ledikomMK {
    background-color: #000000;
}

/* PAGINATION */
.pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    width: 100%;
    flex-wrap: wrap;
    max-width: 900px;
}

#paginacija>ul>li {
    transition: 0.3s;
    font-family: 'Roboto';
    font-weight: bold;
}

#paginacija>ul>li:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-family: 'Roboto';
    font-weight: bold;
}

.page-link {
    background-color: #007bff;
    color: white;
}
/* YOUTUBE */
.youtube {
    max-width: 100x;
    max-height: 70px;
}

.youtube-div {
    margin-bottom: 30px;
}

#youtube_logo,
.famous-youtubers {
    max-height: 100px;
    background-color: #c8302a;
    padding: 0 10px;
    color: white;
    font-weight: bold;
}
/* SETTINGS */
.shops,.manufacturer {
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ui-widget-header {
    background: #007bff !important;
}

#price-range {
    padding: 10px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
}

#priceRangeLabel {
    font-size: 1rem;
    margin: 0px;
}

.chooseAscDsc {
    font-family: 'Roboto';
    font-weight: bold;
}

.dropdown-menu {
    background-color: #007bff;
}

.dropdown-item {
    color: white;
}

.form-control{
    border: 2px solid white;
    border-radius: 0 0 5px 5px;
}

.page-item.active .page-link {
    background-color: #fc5c2b;
}

#search-nav,#manufacturer-nav,#shops-nav,#price-nav{
    margin: 0px;
    border-radius: 5px 5px 0 0;
}

.img-ledikomMK{
    width: 75%;
}

.search-inputs{
    border-radius: 0;
}

.no-result-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
.jumbo-square {
    background-color: #e9edef;
    width: 100%;
    height: 100%;
}

td{
    border: 1px solid #e3e3e3;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: large;
    padding: 5px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.red{
    padding-left: 5px;
    padding-right: 5px;
    color: #db0000;
    background-color: #f3f3f3;
}

.card-compare{
    border: 2px solid #bfcaca;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.badge{
    padding:0;
}