.btn-outline-success{
    background-color: white;
}
.btn-info{
    margin-left: 5px;
}
.navbar{
    background-color: #385a79;
}
#logo{
    height: 50px;
    width: 123px;
}
#logo_text{
    color: orangered;
    font-size: 20px;
    display: inline-block;
    margin-left: 5px;
}
.d-block{
    width: 1200px;
    height: 480px;
}
#carouselExampleControls{
    margin-top: 100px;
}